.cards-box {
    background-color: var(--card-bg-color);
    width: 30rem;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 2px 2px 5px 0px rgba(139, 8, 247, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    border-radius: 5px 5px 5px 5px;
    
}




.cards-inside {
    color: #f5f0f0;
    display: flex;
    gap: 5px;
    flex-direction: column;
    
}

.card-image-box {
    display: flex;
    justify-content: center;
    align-items: center;

}

.cards-inside img {
    width: 100%;
    aspect-ratio: 3/2;
    
}

.card-title {
    color: var( --card-main-heading);
    font-size: 1.8rem;
}

.card-para {
    color: var(--para-clr);
    font-size: 1.3rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
}

.card-label {
    font-family: 'Kaisei Opti', serif;
    color: rgb(122, 121, 121);
    font-weight: 900;
}

.button-box {
    display: flex;
    justify-content: space-between;
}

.primary-button {
    padding: 15px;
    border: 1px solid gray;
    border-radius: 10px;
    width: auto;
    color: rgb(245, 248, 248);
    background-color: rgb(118, 4, 249);
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 2px 2px 5px 0px rgba(139, 8, 247, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    border-radius: 5px 5px 5px 5px;
}

.secondary-button {
    padding: 15px;
    border: 1px solid gray;
    border-radius: 10px;
    width: auto;
    color: rgb(21, 24, 24);
    background-color: rgb(244, 243, 245);
}



/* Responsive navbar For Tablet */

@media (max-width:900px){
   
.button-box {
    display: flex;
}

.primary-button {
    padding: 11px;
    font-size: 1.2rem;
}

.secondary-button {
    padding: 12px;
    font-size: 1rem;
}


}

/* Responsive navbar For Mobile */
@media (max-width:500px){
    .cards-box {
        margin-top: 2rem;
    }

}