.main-navbar {
  width: 100%;
  display: flex;
  padding: 1rem;
  background-color: var(--bg-clr);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 999;
}


.left-navbar {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.company-logo {
  width: 30%;
}

.middle-navbar {
  width: 70%;
}


.middle-navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.middle-navbar ul li a {
  text-decoration: none;
  font-size: 18px;
  color: var(--top-text-color);
  transition: color 0.2s ease;
}

.middle-navbar ul li a:hover {
  color: var(--hover-color);
}

.hamburger-menu {
  display: none;
}

.ham-icon {
  color: var(--para-clr);
}

.right-navbar {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}


@media (max-width: 900px) {

  .left-navbar {
    width: 50%;
  }

  
  .company-logo {
    width: 70%;
    border-radius: 50px;
  }

  .middle-navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 50vh;
    background-color: var(--bg-clr);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease, visibility 0.2s ease;
    z-index: 1;
  }

  .middle-navbar.active {
    opacity: 1;
    visibility: visible;
  }

  .middle-navbar ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .middle-navbar ul li {
    margin: 20px 0;
  }

  .hamburger-menu {
    width: 50%;
    margin-right: 5rem;
    display: flex;
    justify-content: right;
    font-size: 24px;
    cursor: pointer;
align-items: center;
  }
}


@media (max-width: 500px) {

  .left-navbar {
    width: 50%;
  }


  .middle-navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 50vh;
    background-color: var(--bg-clr);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease, visibility 0.2s ease;
    z-index: 1;
  }

  .middle-navbar.active {
    opacity: 1;
    visibility: visible;
  }

  .middle-navbar ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .middle-navbar ul li {
    margin: 20px 0;
  }

  .hamburger-menu {
    width: 50%;
    margin-right: 0rem;
    display: flex;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
    align-items: center;

  }
}