/* .dark-theme{
  --main-heading:  rgb(82, 81, 81);
 --para-clr : rgb(211, 211, 211) ;
 --btn-bg-color :  rgb(38, 74, 88);
 --btn-text-color :  rgb(38, 74, 88);
 --bg-clr :  rgb(7, 32, 43);
}

.light-theme{
  --main-heading:  rgb(9, 9, 9);
 --para-clr : rgb(211, 211, 211) ;
 --btn-bg-color :  rgb(178, 7, 181);
 --btn-text-color :  rgb(243, 247, 249);
 --bg-clr :  rgb(247, 245, 245);
} */