* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background-color: var(--bg-clr);
}

.link {
  text-decoration: none;
  color: var(--para-clr);
  font-size: 1.5rem;
  cursor: pointer;
  font-weight: 900;
  font-family: 'Kaisei Opti', serif;

  /* font-family: 'Cinzel', serif; */
}





p {
  color: var(--para-clr);
  font-family: 'Roboto Slab', serif;
}

button {
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
}

h2,
h3 {
  color: var(--main-heading);
  font-family: 'Kaisei Opti', serif;
}

h1 {
  font-family: 'Cinzel', serif;
  font-weight: 900;
  cursor: pointer;
  color: var(--main-heading);
  font-size: 2.5rem;
}



.button-header {
  padding: 1.5rem;
  color:var(--btn-text-color);
  font-size: 1.67rem;
  border: none;
  background-color: var(--btn-bg-color);
  border-radius: 5px 5px 5px 5px;
  box-shadow: var(--box-shadow-btn);
  -webkit-box-shadow:var(--webkit-box-shadow-btn);
  -moz-box-shadow:var(--moz-box-shadow-btn);
}

.button-header:hover{
  background-color: var(--btn-hover);
}

/* Responsive navbar For Tablet */
.dark-theme {
  --main-heading: rgb(197, 193, 193);
  --para-clr: rgb(119, 136, 153);
  --btn-bg-color: rgba(0, 66, 37, 0.548);
  --btn-text-color: rgb(205, 209, 212);
  --bg-clr: rgb(12, 31, 24);
  --top-text-color: rgb(197, 193, 193);
  --card-bg-color: #00162b;
  --card-main-heading: rgb(225, 220, 220);
  --card-para-clr: rgb(119, 136, 153);
  --hover-color: rgb(243, 249, 46);
  --box-shadow-btn:2px 2px 5px 0px rgba(234, 1, 1, 0.75);
  --webkit-box-shadow-btn: 2px 2px 5px 0px rgba(3, 16, 48, 0.75);
  --moz-box-shadow-btn: 10px 10px 5px 0px rgba(221, 13, 13, 0.75); 
  --btn-hover: rgb(19, 18, 18);
}

.light-theme {
  --main-heading: rgb(9, 9, 9);
  --para-clr: rgb(117, 111, 111);
  --btn-bg-color: rgb(178, 7, 181);
  --btn-text-color: rgb(243, 247, 249);
  --bg-clr: rgb(247, 245, 245);
  --top-text-color: purple;
  --card-bg-color: rgb(255, 255, 255);
  --card-main-heading: rgb(28, 28, 28);
  --hover-color: rgb(208, 208, 211);
  --box-shadow-btn:2px 2px 5px 0px rgba(0, 0, 0, 0.75);
  --webkit-box-shadow-btn: 2px 2px 5px 0px rgba(139, 8, 247, 0.75);
  --moz-box-shadow-btn: 10px 10px 5px 0px rgba(0, 0, 0, 0.75); 
}